@import url(font.css);
@import url(common.css);
@import url(default.css);

body {
    position: relative;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.15);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header h1 {
    margin: 23.84px;
}
header .gnb .list ul {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
header .gnb .list ul a {
    display: block;
    margin: 31.5px 20px;
}
.visual {
    background: url(../image/visual_bg.jpg) no-repeat center center / cover;
    border-bottom-right-radius: 190px;
    
}
.visual .wrapper {
    position: relative;
    height: 100vh;
}
.visual h2 {
    padding-top: calc(50vh - 121px);
    text-align: center;
}
.visual a {
    position: absolute;
    right: -68px;
    bottom: -68px;
    display: block;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 137px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    border-radius: 50%;
    background-color: #0062FF;
    color: #fff;
}

.culture {
    margin: 120px 0;
}
.culture h3 {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    color: #1d1d1d;
}
.culture .list {
    margin-top: 40px;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li .photo {
    font-size: 0;
    line-height: 0;
}
.culture .list ul li a h4 {
    margin: 20px 0 10px 0;  
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    color: #1d1d1d;
}
.culture .list ul li .inner {
    display: flex;
    align-items: center;
}
.culture .list ul li .inner span {
    margin-right: 10px;
}