@import url(default.css);
@import url(font.css);
@import url(common.css);

/* positon 문구가 들어있으면 순서가생김 레이어 생각하기 */

body {
    position: relative;
    margin-bottom: 500px;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; /* 레이어 순번 */
    width: 100%; /* 앱솔은 가로 세로 값을 가지고 있지않음 이게 figma 에서 fill임 */
    height: 90px;
    background-color: rgba(0, 0, 0, 0.15);
}
header .logo {
    margin: 23.8px 0;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .gnb .list ul {
    display: flex;
    justify-content: space-between;
}
header .gnb .list ul li a {
    display: block;
    padding: 31.5px 20px;
    color: #fff;
}

.visual {
    background: url(../image/visual_bg.jpg) no-repeat center center / cover;
    border-bottom-right-radius: 190px;
}
.visual .wrapper {
    position: relative;
    height: 100vh; /* vh는 브라우저 높이의 상대값 */
    /* pic는 wrapper 기준을 오른쪽 하단에 정렬하려고하는데 visual이 가변이라 수시로변경되어서 wrapper에 vh를 주면
    wrapper을 감싸는 visual이 가변 자연스럽게 높이를 따라옴 따라서 감싸는 자식요소에 높이를 넣어도 
    부모가 알아서 따라옴 figma hug,fill 방식을 생각하면될듯 */
}
.visual h2 {
    padding-top: calc(50vh - 131px);    
     /* 50vh - 94px 상대값,절대값 단위가 안맞음 그래서 calc 다른 단위일때 계산 단 신호기호 양옆 여백있어야함 */
    text-align: center;    
}
.visual .pick {
    position: absolute; /* wrapper 기준으로 정렬, a::before 정렬의 중심 */
    right: -68px;
    bottom: -68px;
}  
.visual .pick a {
    display: block;
    width: 137px;
    height: 137px;
    padding-top: 63px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    background-color: #0062FF;
    color: #fff;
}
.visual .pick a:hover {
    background-color: #041D82;
}
.visual .pick a::before {
    content: "";
    position: absolute; /* 현재 pick을 기준으로 */
    top: 28px;
    left: 50%;
    transform: translateX(-50%); /* 좌우에 가운데 */
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4975 23.2305C18.1482 23.2305 19.5468 22.6578 20.6935 21.5125C21.84 20.3672 22.4132 18.9693 22.4132 17.3188C22.4132 15.6682 21.8405 14.2695 20.6952 13.1228C19.5498 11.9764 18.152 11.4032 16.5015 11.4032C14.8508 11.4032 13.4522 11.9758 12.3055 13.1212C11.1591 14.2665 10.5858 15.6644 10.5858 17.3148C10.5858 18.9655 11.1585 20.3642 12.3038 21.5108C13.4492 22.6573 14.8471 23.2305 16.4975 23.2305ZM16.4928 20.5235C15.59 20.5235 14.831 20.2158 14.2158 19.6005C13.6005 18.9854 13.2928 18.2264 13.2928 17.3235C13.2928 16.4208 13.6005 15.6596 14.2158 15.0398C14.831 14.4201 15.59 14.1102 16.4928 14.1102C17.3955 14.1102 18.1567 14.4201 18.7765 15.0398C19.3963 15.6596 19.7062 16.4208 19.7062 17.3235C19.7062 18.2264 19.3963 18.9854 18.7765 19.6005C18.1567 20.2158 17.3955 20.5235 16.4928 20.5235ZM6.09518 27.9378C5.3014 27.9378 4.62518 27.6585 4.06652 27.0998C3.50785 26.5412 3.22852 25.8649 3.22852 25.0712V9.57917C3.22852 8.78539 3.50785 8.10917 4.06652 7.5505C4.62518 6.99183 5.3014 6.7125 6.09518 6.7125H10.0562L12.5715 4.0625H20.4315L22.9428 6.7125H26.9038C27.6976 6.7125 28.3738 6.99183 28.9325 7.5505C29.4912 8.10917 29.7705 8.78539 29.7705 9.57917V25.0712C29.7705 25.8649 29.4912 26.5412 28.9325 27.0998C28.3738 27.6585 27.6976 27.9378 26.9038 27.9378H6.09518ZM6.09518 25.0712H26.9038V9.57917H21.7038L19.2192 6.92917H13.8088L11.2852 9.57917H6.09518V25.0712Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cul {
    margin: 120px 0;
}
.cul .wrapper {
    position: relative; /* more 포지션 정렬 기준 */
}
.cul h3 {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    color: #1d1d1d;
}
.cul .list {
    margin-top: 40px;
}
.cul .list ul {
    display: flex;
    justify-content: space-between;
}
.cul .list ul li {
    width: 404px;
}
.cul .list ul li a {
    display: block;
}
.cul .list ul li a .photo {
    overflow: hidden; /* 클립 컨텐츠 figma 영역 밖으로 나가는거 막는거 */
    font-size: 0;
    line-height: 0;
}
.cul .list ul li a .photo img {
    transition: 0.5s; /* 호버 하기전 원본에 넣어줘야함 꼭 애니메이션 효과 줄때 트렌스폼 주기전에 줘야함 */
}
.cul .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.cul .list ul li a h4 {
    margin: 20px 0 10px 0;  
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    color: #1d1d1d;
}
.cul .list ul li a span {
    display: inline-block;
    position: relative;
    padding-right: 20px; /* 글자 옆에 아이콘이 들어갈때 그 아이콘 이들어갈 위치까지 패딩으로 늘려놈 */
    margin: 10px 0;
    color: #8E8E8E;
}
.cul .list ul li a span::before {
    position: absolute;
    top: 5.5px;
    right: 0; /* 기준이 된거에 나가는거 안됨 */
    width: 16px; 
    height: 16px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33693 14.7053L4.62793 13.9963L10.1241 8.50009L4.62793 3.00392L5.33693 2.29492L11.5421 8.50009L5.33693 14.7053Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.cul .more {
    position: absolute; /* wrapper 기준으로 정렬 */
    top: 61px;
    right: 0;
}
.cul .more a {
    display: block;
    padding: 10px 20px;
    border: 1px solid #8E8E8E;
    border-radius: 100px;
}
.cul .more a:hover {
    border-color: #0062FF;
    background-color: #0062FF;
    color: #fff
}

.tour {
    padding: 100px 0;
    background-color: #F5F9FF;
}
.tour .wrapper {
    position: relative; /* more 정렬의 기준*/
}
.tour .title {
    margin-bottom: 40px;
}
.tour .title h3 {
    margin: 20px 0 10px 0;  
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
    color: #1d1d1d;
}
.tour .list {
    margin-bottom: 40px;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li.on {
    width: 616px;
}
.tour .list ul li {
    width: 190px;
}
.tour .list ul li a {
    display: block;
    height: 320px; /* li와 a가 같게 들어갈려고 */
    padding: 160px 40px 40px 40px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.tour .list ul li.on a {
    padding: 175px 0 0 40px;
    text-align: left;
}
.tour .list ul li.tour1 a {
    background-image: url(../image/tour_bg1.jpg);
}
.tour .list ul li.tour2 a {
    background-image: url(../image/tour_bg2.jpg);
}
.tour .list ul li.tour3 a {
    background-image: url(../image/tour_bg3.jpg);
}
.tour .list ul li.tour4 a {
    background-image: url(../image/tour_bg4.jpg);
}
/* 오버되지 않은 li의 스타일 */
.tour .list ul li a h4 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0;
/* 오버됫을때 적용될 스타일이지만 지금줘도 문제되지않음 미리 줘야함 */    
}
.tour .list ul li a h4 {
    font-size: 26px;
}
.tour .list ul li a p { /* 미리 숨긴거 만들어놈 */
    display: none;
}
.tour .list ul li.on a p {
    display: inline-block; /* none 으로 숨긴요소는 display 아무거나 주면 나타남 */
}
.tour .list ul li a span {
    /*display: inline-block;*/
    display: none; /* 숨겨졌다 오버하면 나타남*/
    position: relative;
    padding-right: 10px;
    margin-top: 10px;
/* 미리주고 상태값만 변경해서 보여줌 */
}
.tour .list ul li.on a span {
    display: block;
}
.tour .list ul li a span::after {
    position: absolute;
    top: 5.5px;
    right: 0px;
    width: 16px;
    height: 16px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33693 14.7053L4.62793 13.9963L10.1241 8.50009L4.62793 3.00392L5.33693 2.29492L11.5421 8.50009L5.33693 14.7053Z' fill='white'/%3E%3C/svg%3E%0A");  
    background-position: center center;
    background-size: contain;
}
.tour .more {
    position: absolute; /* wrapper 기준으로 정렬 */
    top: 61px;
    right: 0;
}
.tour .more a {
    display: block;
    padding: 10px 20px;
    border: 1px solid #8E8E8E;
    border-radius: 100px;
}
.tour .more a:hover {
    border-color: #0062FF;
    background-color: #0062FF;
    color: #fff
}