@import url(default.css);
@import url(font.css);
@import url(common.css);

.visual {
    background: url(../image/visual_bg.jpg) no-repeat center center / cover;
    height: 100vh;
}
.visual h2 {
    padding-top: 368px;
}

body {
    margin-bottom: 500px;
}