@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* body기준*/
    width: 100%;
    height: 90px;
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header h1.logo a {
    display: block;
    width: 130px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    background: url(../images/Group\ 1.svg) no-repeat center center / contain; 
}
header .gnb .gnb_open, .gnb_close {
    display: none;
}
header .gnb .gnb_inner ul.depth_1 {
    display: flex;
    gap: 20px;
}
header .gnb .gnb_inner ul.depth_1 li a {
    display: block;
}
.visual {
    height: 900px;
    background: url(../images/Frame\ 2.jpg) no-repeat center center / cover;
}