#wrap {
    min-width: 1300px;
    /* 브라우저의 최소 넓이를 지정
    - 작은 브라우저에서 가로스크롤이 생기면 배경이 짤림 
    wrapper에서 지정한 width에 좌우여백 20px씩 준 값
    1260 + 40 = 1300 */
}
.sec01 {
    height: 300px;
    background-color: #f4f4f4;
}
.sec01 {
    width: 200px;
    height: 150px;
    border: 2px solid #3d3d3d;
    display: flex;
    
}