@import url(default.css); /* 그 안에 문서 불러와라 적용해 */
@import url(font.css);
@import url(common.css);

.icon h2 {
    margin: 203px 0 20px 0;
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.icon h3 {
    margin: 20px 0 20px 0;
    font-size: 30px;
    font-weight: 700;
    color: #1d1d1d;
} /* 위에 요소의 하단여백(margin)이 50px이고
하단 요소의 상단여백(margin)이 100px이면
둘 사이의 여백은 100px
margin은 중복되면 둘중의 큰값만 적용됨 */

.svg_img .more {
    margin: 100px 0;
}
.svg_img .more a {
    display: flex;
    align-items: center;
    width: 146px;
    padding: 10px 20px;
    border: 1px solid #555;
    border-radius: 50px;
}
.svg_img .more a strong {
    margin-right: 16px;
}
.svg_img .list ul {
    display: flex;
}
.svg_img .list ul li{
    width: 83px;
    margin-right: 10px;
}
.svg_img .list ul li a {
    display: block;
    text-align: center;
}
.svg_img .list ul li a .photo {
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: inline-block;
    /* block요소는 text-align:center로 정렬 불가
    그럼 inline-block 주변됨 */
    padding-top: 13px; /*이미지를 상단에서 여백줘서 아래로내보냄 */
    margin-bottom: 10px;
}
.svg_bg .more {
    margin: 50px 0;
}
.svg_bg .more a {
    display: inline-block;
    padding: 10px 48px 10px 20px;
    border: 1px solid #555;
    border-radius: 50px;
    background: url(../more_icon/more_icon_b.png) no-repeat right 20px top 14.5px;
}
.svg_bg .more a:hover {
    border: 1px solid #4882FF;
    background-color: #4882FF;
    color: #fff;
    background-image: url(../more_icon/more_icon_w.png);
    /* 백 이미지 변경할때 위치그대로면 그대로 두고 url만 변경해서 지정해줘야함 */
}
.svg_bg .list ul {
    display: flex;
}
.svg_bg .list ul li{
    width: 83px;
    margin-right: 10px;
}
.svg_bg .list ul li a {
    display: block;
    text-align: center;
}
.svg_img .list ul li a i {
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 11px; /* 아래 글자랑 여백 모든 배경의 위치와 반복값은 같고 경로만 다르니까 */
    background-repeat: no-repeat;
    background-position: center center;
}
.svg_img .list ul li.ico1 a i {
    background-image: url(../more_icon/link_icon1.svg);
}
.svg_img .list ul li.ico2 a i {
    background-image: url(../more_icon/link_icon2.svg);
}
.svg_img .list ul li.ico3 a i {
    background-image: url(../more_icon/link_icon3.svg);
}
.svg_img .list ul li.ico4 a i {
    background-image: url(../more_icon/link_icon4.svg);
}
.svg_img .list ul li a:hover i {
    background-color: #4882FF;
}
.svg_img .list ul li.ico1 a:hover i {
    background-image: url(../more_icon/link_icon1_w.svg);
}
.svg_img .list ul li.ico2 a:hover i {
    background-image: url(../more_icon/link_icon2_w.svg);
}
.svg_img .list ul li.ico3 a:hover i {
    background-image: url(../more_icon/link_icon3_w.svg);
}
.svg_img .list ul li.ico4 a:hover i {
    background-image: url(../more_icon/link_icon4_w.svg);
}

.svg_before .more {
    margin: 50px 0;
}
.svg_before .more a {
    display: inline-block;
    padding: 10px 48px 10px 20px;
    border: 1px solid #555;
    border-radius: 50px;
    position: relative; /* relative 등 앱솔이등 포지션이 있어야함 after 정렬의 기준점 기준*/
}
.svg_before .more a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 14px;
    width: 17px; /* 배경이 들어갈 넓이와 높이가 필요 */
    height: 17px;
    background: url(../more_icon/more_icon_b.png) no-repeat center center;
}
.svg_before .more a:hover::after {
    background-image: url(../more_icon/more_icon_w.png);
}
.svg_before .more a:hover {
    border: 1px solid #4882FF;
    background-color: #4882FF;
    color: #fff;
}
.svg_before .list ul {
    display: flex;
}
.svg_before .list ul li{
    width: 83px;
    margin-right: 10px;
}
.svg_before .list ul li a {
    display: block;
    text-align: center;
    position: relative;
    padding-top: 60px;
}
/* a사이즈는 현재 100px인데 a before가 70px이고 이걸 a안에 가운데 정렬을 하고 싶다.
1. 100-70 = 30/2=15 하는이유 좌우때매 2 15
2. left를 50%로 줘서 가운데에서 시작하고 넓이의 절반을 빼줌 width : calc(50%-넓이/2)
3. left를 50%를 줘서 가운데에서 시작하고 (50%) transform: translateX(-50%) 
나의 넓이의 절반을 왼쪽으로 이동 넓이를 모를때 사용하면 효과적이다 몰라도 들어감 */


.svg_before .list ul li a::before {
    content: "";
    position: absolute;
    left: 50%; /* 정렬의 기준이 되는 a의 50% */
    transform: translateX(-50%); /* before의 넓의 50% */
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}
.svg_before .list ul li.ico1 a::before {
    background-image: url(../more_icon/link_icon1.svg);
}
.svg_before .list ul li.ico2 a::before {
    background-image: url(../more_icon/link_icon2.svg);
}
.svg_before .list ul li.ico3 a::before {
    background-image: url(../more_icon/link_icon3.svg);
}
.svg_before .list ul li.ico4 a::before {
    background-image: url(../more_icon/link_icon4.svg);
}
.svg_before .list ul li a:hover::before {
    background-color: #4882FF;
}
.svg_before .list ul li.ico1 a:hover::before {
    background-image: url(../more_icon/link_icon1_w.svg);
}
.svg_before .list ul li.ico2 a:hover::before {
    background-image: url(../more_icon/link_icon2_w.svg);
}
.svg_before .list ul li.ico3 a:hover::before {
    background-image: url(../more_icon/link_icon3_w.svg);
}
.svg_before .list ul li.ico4 a:hover::before {
    background-image: url(../more_icon/link_icon4_w.svg);
}
.google .more {
    margin: 50px 0;
}
.google .more a {
    display: inline-block;
    padding: 10px 48px 10px 20px;
    border: 1px solid #555;
    border-radius: 50px;
    position: relative; /* i 정렬의 기준점 */
}
.google .more a i {
    font-size: 12px;
    color: #4882FF;
    position: absolute;
    right: 20px;
    top: 14px;
}
.google .more a:hover {
    border: 1px solid #4882FF;
    background-color: #4882FF;
    color: #fff;
}
.google .more a:hover i {
    color: #fff;
}
body {
    margin-bottom: 500px;
}