@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
    letter-spacing: 0;
    word-break: keep-all; /* (여백을 기준으로) 줄바꿈*/
    word-wrap: break-word; /* 단어가 너무 길어서 줄바꿈이 안될때 강제로 줄바꿈
     word-break: keep-all;로 단어별로 (여백) 줄바꿈때문에 생기는 오류 수정*/
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    min-width: 1300px;
    /* 브라우저의 최소 넓이를 지정
    - 작은 브라우저에서 가로스크롤이 생기면 배경이 짤림 
    wrapper에서 지정한 width에 좌우여백 20px씩 준 값
    1260 + 40 = 1300 */
}