@import url(default.css);
@import url(font.css);
@import url(common.css);

.service {
    display: flex;
    flex-direction: column;
    gap: 49px;
    margin: 157px 0 124px 0;
}
.service .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.service h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0;
    color: #1d1d1d;
}
.service p {
    text-align: center;
}
.list .wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 44px;
}
.list .wash {
    width: 404px;
}
.list .wash.left .photo {
    border-radius: 200px 200px 120px 0;
    overflow: hidden;
}
.list .wash.right .photo {
    border-radius: 120px 0px 200px 200px;
    overflow: hidden;
}
.list .wash h3 {
    margin-top: 37px;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0;
    color: #1d1d1d;
}
.list .wash p {
    margin: 20px 0 22px 0;
    text-align: left;
}
.list .wash .more a {
    padding-right: 37px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    color: #3d3d3d;
}
.list .wash .inner .more {
    position: relative;
}
.list .wash .inner .more a {
    padding-bottom: 6px; 
}
.list .wash.left .more a {
    border-bottom: 1px solid #666666;
}
.list .wash.right .more a {
    border-bottom: 1px solid #666666;
}
.list .wash.left .inner .more::after {
    position: absolute;
    content: "";
    top: 3px;
    right: 210px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 3.33331L9.06001 4.27331L12.1133 7.33331L1.33334 7.33331L1.33334 8.66665L12.1133 8.66665L9.05334 11.7266L10 12.6666L14.6667 7.99998L10 3.33331Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*.list .wash.left .inner .more::before {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0px;
    width: 195px;
    height: 1px;
    background-color: #666666;
}*/
.list .wash.right .inner .more::after {
    position: absolute;
    content: "";
    top: 3px;
    right: 240px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 3.33331L9.06001 4.27331L12.1133 7.33331L1.33334 7.33331L1.33334 8.66665L12.1133 8.66665L9.05334 11.7266L10 12.6666L14.6667 7.99998L10 3.33331Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*.list .wash.right .inner .more::before { 
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0px;
    width: 165px;
    height: 1px;
    background-color: #666666;
} */

.think {
    width: 100%;
    height: 422px;
    padding: 105px 0 0 0;
    margin-bottom: 130px;
    background: url(../images/bg_3.jpg) center center / cover;
    text-align: center;
    color: #ffff;
}
.think .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.think h4 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0;
}
.think .more a {
    padding: 7px 55px 7px 19px;
    border: 1px solid #fff;
    border-radius: 18px;
    background-color: #fff;
    color: #3D3D3D;
}

.cs ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
