@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
    letter-spacing: 0;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}

header {
    height: 100px;
}
header .wrapper {
    display: flex;  
    justify-content: space-between;
}
header .wrapper .logo {
    margin: 34px 0 0 0;
}
header .wrapper .gnb ul {
    display: flex;
}
header .wrapper .gnb ul li a {
    color: #1d1d1d;
    padding: 34px 30px;
    display: block; /* a 는 무조건 블럭주는거임 */
}

.visual {
    height: 800px;
    background: url(../images/visual1_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.visual .wrapper h2 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    padding: 224px 0 0 0;
}
.visual .wrapper h2 strong {
    font-size: 55px;
    font-weight: 300;
}
.visual .wrapper p {
    margin: 20px 0 0;
}


